*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    gap: 15px;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    font-family: "Arimo", sans-serif !important;
}
ul li a:hover{
    color: blue;
}
.nav-logo img{
    width: 110px;
}
.btn{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #638df6;
}

